body {
	background-color: whitesmoke;
	max-width: 700px;
	margin: auto;
}

table, td, th {
	border: 1px solid #ddd;
	text-align: left;
	padding: 15px;
}

table {
	border-collapse: collapse;
	width: 100%;
}